.form-group.numberSmall{
	width:60px;
}

.form-group.select-small{
	width:110px;
}

.deletePositionForm{
	margin:0;
}

@media (max-width:767px){
	.form-group.numberSmall{
		width:100%;
	}

	.form-group.select-small{
		width:100%;
	}
}
