#main-menu{
	border-radius: 0;
}

.navbar{
	margin-bottom: 0;
}

.form-login input{
	width:110px;
}

.gap{
	height:20px;
}

@media (max-width:767px){
	.form-login input{
		width:100%;
	}

	.form-login button{
		width:100%;
	}
}