<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4>Habilidades</h4>
		</div>
		<div class="modal-body">
			<ul id='skillsList' class="list-unstyled">
				{{#playerSkills}}
					<li id="{{id}}"><p><span class="btn btn-primary btn-sm" id="title">{{title}}</span> <span id="removeSkill" class="btn btn-sm btn-danger">x</span></p></li>
				{{/playerSkills}}
			</ul>
			<div class="form-inline">
				<div class="form-group">
					<select name="skillsSelector" id="skillsSelector" class="form-control">
						{{#skillTypes}}
							<optgroup label="{{title}}">
								{{#skills}}
									<option value="{{id}}">{{title}}</option>
								{{/skills}}
							</optgroup>
						{{/skillTypes}}
					</select>					
				</div>
				<div class="form-group">
					<button id="addSkill" class="btn btn-success">Añadir</button>
				</div>	
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-success" type="button" id="updatePlayerSkills" data-number="{{number}}">Guardar</button>
			<button class="btn btn-danger" data-dismiss="modal" type="button">Cancelar</button>
		</div>
	</div>
</div>