<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4>{{label}}</h4>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<input type="text" value="{{value}}" id="valueInput" class="form-control">
				<input type="hidden" value="{{field}}" id="fieldName">
			</div>			
		</div>
		<div class="modal-footer">
			<button class="btn btn-success" type="button" id="updateField" data-number="{{number}}">Guardar</button>
			<button class="btn btn-danger" data-dismiss="modal" type="button">Cancelar</button>
		</div>
	</div>
</div>