<td>{{number}} <span class="btn btn-danger btn-sm" id="removePlayer">x</span></td>
<td id="editModal" data-label="Nombre" data-type="title">{{title}}</td>
<td data-label="Posición" data-type="position">{{position}}</td>
<td id="editModal" data-label="Movimineto" data-type="mo">{{mo}}</td>
<td id="editModal" data-label="Fuerza" data-type="st">{{st}}</td>
<td id="editModal" data-label="Agilidad" data-type="ag">{{ag}}</td>
<td id="editModal" data-label="Armadura" data-type="ar">{{ar}}</td>
<td id="editModal" data-label="Habilidades" data-type="skills">
	{{#skills}}
		-{{title}}
	{{/skills}}
</td>
<td id="editModal" data-label="Lesiones" data-type="injuries">{{injuries}}</td>
<td id="editModal" data-label="Pases completos" data-type="com">{{com}}</td>
<td id="editModal" data-label="Touchdowns" data-type="td">{{td}}</td>
<td id="editModal" data-label="Heridas" data-type="cas">{{cas}}</td>
<td id="editModal" data-label="Intercepciones" data-type="int">{{int}}</td>
<td id="editModal" data-label="Mejor jugador" data-type="mvp">{{mvp}}</td>
<td id="editModal" data-label="Puntos de Experiencia" data-type="total_px">{{total_px}}</td>
<td id="editModal" data-label="Valor" data-type="cost">{{cost}}</td>
<input type="hidden" name="players[]" value='{{stringObject}}'>